 .invite_code_form
 {
    text-align: center;
    margin-right: 50%;
    padding: 2% 1%;
    margin: 2% 50% 2% 0;
    background: #2db4b4;
    color: #fff;
 }

 .invite_code_form h2,  .invite_code_form p
 {
    color: #fff;
 }

 .invite_code_form i.fa.fa-check-circle {
    font-size: 60px;
    color: #35ff71;
    margin-bottom: 20px;
}

button.save-qr-btn {
    padding: 0 10px;
    line-height: 40px;
    font-size: 14px;
    background: #35ff71;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: none;
    margin: 5% 0;
    font-weight: bold;
}

.date_expire {
    margin: 5% 0;
    font-size: 14px;
}

.invite_link_sec label {
    display: block;
    font-size: 18px;
}

.invite_link_sec input#invite_link {
    width: 70%;
    margin: 1%;
    font-size: 17px;
    font-weight: bold;
    padding: 2px;
}

button.copy_invite_link,.invite-btn-main {
    padding: 0 10px;
    line-height: 40px;
    font-size: 14px;
    background: #35ff71;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: none;
    margin: 5% 0;
    font-weight: bold;
}

.invite_user_form p.submit {
    display: inline-block;
    margin: 0 1% 0 0;
}

.disabledsection {
    pointer-events: none;
    opacity: 0.4;
}
p.message.message-auth-error {
    color: red;
}
.qr_code_setting_div .back-color {
    margin-bottom: 15px;
}
.active{
    color:green;
}
.inactive{
    color:red;
}
.qr-code-img-list{
    width: 280px;
    padding: 15px;
    border:2px dashed green;
}
.step{
    display: none;
}
.active {
    display: inherit;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent {
    margin-left: 0;
    padding: 0;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpadminbar {
    display: none;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#adminmenumain {
    display: none;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap > h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table {
    width: 100%;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table img {
    width: 100%;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr th {
    display: none;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td {
    padding: 0;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step {
    background: white;
    box-shadow: 0 0 7px rgb(0 0 0 / 5%);
    padding: 55px 30px 30px 30px;
    border-radius: 10px;
    position: relative;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step label {
    font-weight: bold;
    font-size: 22px;
    color: #323232;
    margin-bottom: 15px !important;
    display: block;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step.sub-step-form .step-btn-input label {
    font-size: 16px;
    margin-bottom: 5px !important;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step {
    margin-bottom: 20px;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step label {
    font-size: 20px;
    margin-bottom: 5px !important;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step-input{
    margin-bottom: 15px;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step p {
    font-size: 16px;
    color: #323232;
    line-height: 21px;
    margin-bottom: 30px;
    font-weight: 400;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step.sub-step-row {
    display: flex;
    margin: 0 -15px;
    align-items: center;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step.sub-step-row .sub-step-text-col {
    padding: 0 15px;
    width: calc(100% - 350px);
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step.sub-step-row .sub-step-img-col {
    width: 350px;
    padding: 0 15px;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -24px;
    width: 135px;
    height: 50px;
    background: #2db4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 7px rgb(0 0 0 / 5%);
    letter-spacing: 0.5px;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-1:after {
    content: 'step 1';
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-2:after {
    content: 'step 2';
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-3:after {
    content: 'step 3';
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-4:after {
    content: 'step 4';
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-5:after {
    content: 'step 5';
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .step-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .step-btn a img {
    width: 140px;
    margin-right: 15px;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-btn-bottom-wrap {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-btn-bottom-wrap a,
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-btn-bottom-wrap .button
{
    background: #2db4b4;
    padding: 9px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step.sub-step-form .step-btn-input {
    margin-bottom: 15px;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step.sub-step-form label {
    margin-bottom: 16px !important;
}
.toplevel_page_autharmor_setup_wizard label{
    cursor: default !important;
}

.toplevel_page_autharmor_setup_wizard .submit{
    display:none;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step p a {
    color: #2db4b4;
    font-weight: 500;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step p a:hover {
    text-decoration: underline;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step .sub-step.sub-step-form .step-btn-input input {
    width: 356px;
}
.loader{
    display: none;
}
span.skip_setup {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 15px;
}

span.skip_setup a {
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    color: #2db4b4;
}

span.skip_setup a:hover {
    text-decoration: none;
}
.input-with-loader-wrap .loader-main-wrapper {
    display: flex;
    position: relative;
}

.input-with-loader-wrap {
    display: flex;
}

.input-with-loader-wrap .loader-main-wrapper input.verify_details {
    background: #2271b1;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 14px;
    cursor: pointer;
}

.input-with-loader-wrap .loader-main-wrapper input.verify_details:hover {
    background: #135e96;
}

.input-with-loader-wrap .loader-main-wrapper img.loader {
    position: absolute;
    right: -19px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.verify-details-msg {
    color: red;
    font-weight: 500;
    margin-top: 5px;
    display: block;
    width: 100%;
}

.verify-details-msg.success {
    color: green !important;
}
.form-table-insert .login_method_display {
    display: none;
}

.login_method .tooltip {
    display: inline-flex;
    position: relative;
    width: 15px;
    height: 15px;
    background: #1d2327;
    color: #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}
.login_method .tooltip:hover:after {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #1d2327;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: 0;
    padding: 13px;
    width: 220px;
    position: absolute;
    left: 32px;
    font-size: 12px;
    font-weight: 500;
    top: -15px;
    z-index: 2;
}
.login_method .tooltip:hover:before {
    border: solid;
    border-color: #1d2327 transparent;
    border-width: 9px 6px 0 6px;
    content: "";
    left: 22px;
    position: absolute;
    transform: rotate(90deg);
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-btn .verify_details,
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-btn .verify_acc_detail {
    background: #2db4b4;
    padding: 9px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .qr_loader {    
    padding:25px;    
}
.toplevel_page_autharmor_setup_wizard .setup_wizard_form div#qr_loader img {
    width: 10% !important;
}
.toplevel_page_autharmor_setup_wizard .setup_wizard_form .setup_form .step .sub-step p {
    font-size: 16px;
    color: #323232;
    line-height: 21px;
    margin-bottom: 30px;
    font-weight: 400;
}
.toplevel_page_autharmor_setup_wizard .setup_wizard_form .invite_code_form{
    background: none !important;
}
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table div#qr_loader_verification img {	
    width: 30%;	
}	
.toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-4.step.active .sub-step.sub-step-row .sub-step-text-col.qr-step-msg {	
    width: 61%;	
    text-align: center;
}
.toplevel_page_autharmor_setup_wizard .step-5.step.active label.maintitle {	
    text-align: center;	
}	
.toplevel_page_autharmor_setup_wizard .step-5.step.active .sub-step.sub-step-row {	
    margin-top: 60px;	
}	
.toplevel_page_autharmor_setup_wizard .step-5.step.active .sub-step.sub-step-row .sub-step-text-col.qr-msg {	
    text-align: center;	
}	
.toplevel_page_autharmor_setup_wizard .step-5.step.active .sub-step.sub-step-row .sub-step-text-col.qr-msg .sub-step {	
    font-size: 11px;	
}	
.toplevel_page_autharmor_setup_wizard .step-5.step.active .sub-step.sub-step-row .sub-step-text-col.qr-msg .sub-step label {	
    font-size: 16px !important;	
}	
.toplevel_page_autharmor_setup_wizard .step-5.step.active .sub-step.sub-step-row .qr_confirmation_msg {	
    margin-top: 90px;	
    font-size: 20px;	
    color: #000;	
    font-weight: 400;	
    margin-bottom: 20px;	
}	
.toplevel_page_autharmor_setup_wizard .step-5.step.active   span.qrdesc.commonstep-wrap {	
    color: #000;	
    font-size: 20px;	
}	
.toplevel_page_autharmor_setup_wizard .toplevel_page_autharmor_setup_wizard div#wpwrap div#wpcontent .wrap form table.form-table tbody tr td .setup_wizard_form .step-4.step.active .sub-step.sub-step-row .sub-step-text-col {	
    width: 100%;	
}	
.toplevel_page_autharmor_setup_wizard .step-4.step.active .sub-step.sub-step-row {	
    display: flex;	
    flex-wrap: wrap;	
} 
.toplevel_page_autharmor_setup_wizard .qrlbl,
.toplevel_page_autharmor_setup_wizard .qrdesc{
    color: #000;
}